#meme-image-container {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}
#meme-text{
    position: absolute;
    bottom: 0;
}
#meme-image{
    border: 2px solid red;
    height: 100%;
    width: 100%;
}